<nav>
  <% if (user) { %>
    <span>Welcome <%= user.username %>!</span>
    <a href="/" id="logout">Logout</a>
    <a  id="show-create-game-btn" onclick="window.showCreateGameModal()">Create Game</a>
  <% } %>
</nav>
