
<nav>
  <% if (user) { %>
    <span>Welcome <%= user.username %>!</span>
    <a href="/" id="logout">Logout</a>
    <button type="button" id="show-create-game-modal">Create Game</button>
  <% } %>
</nav>
