<!-- partials/navbar.ejs -->
<% if (locals.user) { %>
  <nav>
    <a href="/">Home</a>
    <a href="/" id="logout">Logout</a>
  </nav>
<% } else { %>
  <nav>
    <a href="/user/register">Register</a>
    <a href="/user/login">Login</a>
  </nav>
<% } %>