<!DOCTYPE html>
<html>

<head>
    <title>Game</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <div>
        <h2>Game ID: <%= gameId %>
        </h2>
        <p>Welcome to the game!</p>

    </div>
    <script defer src="/frontend/src/public/dist/bundle.js"></script>
</body>

</html>