<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>
  <link rel="stylesheet" href="/css/main.css">
  <!-- Add any CSS files or styles here -->
</head>
<body>
  <% if (user) { %>
    <%- include('partials/navbar', { user: user }) %>
  <% } %>
  <h1>Welcome to the Main Page</h1>
  <% if (user) { %>
    <p>Hi <%= user.username %>, welcome to the game lobby!</p>
  <% } else { %>
    <p>Please register or log in to access the game lobby.</p>
    <a href="/user/register">Register</a>
  <% } %>
  <div id="message" class="message"></div>
  <script src="/dist/bundle.js"></script>
</body>
</html>
