<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>
  <link rel ="stylesheet" href="/css/main.css">
  <!-- Add any CSS files or styles here -->
</head>
<body>
  <%- include('partials/navbar', { user: user }) %>
  <h1>Welcome to the Main Page</h1>
  <!-- Add any additional content for the main page here -->
  <script src="/dist/bundle.js"></script>


 

</body>
</html>
